[submodule "dotbash"]
	path = dotbash
	url = https://github.com/fadein/dotbash.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/fadein/dotfiles.git
[submodule "dotscreen"]
	path = dotscreen
	url = https://github.com/fadein/dotscreen.git
[submodule "dottmux"]
	path = dottmux
	url = https://github.com/fadein/dottmux.git
[submodule "dotzsh"]
	path = dotzsh
	url = https://github.com/fadein/dotzsh.git
[submodule "vim-packed-config"]
	path = vim-packed-config
	url = https://github.com/fadein/vim-packed-config.git
